@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:300,400,700,900&display=swap');
body {
	margin: 0;
	padding: 0;
	background: #fff;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

/*reset css*/
.form-control:focus{
	box-shadow: none !important;
}
/*reset css*/

/*custom css start*/
.color-text-main { color: #3e983e !important;}
.gr-text-yellow { color: #3e983e !important;}
.gr-active { background: #3e983e !important; color: #fff !important;}
.gr-active:hover { background: #fff !important; color: #000 !important;}
.gr-border{border: 1px solid #737373}
.gr-border-t { border-top: 1px solid #ccc;}
.gr-border-b{border-bottom: 1px solid #737373}
.gr-border-l{border-left: 1px solid #737373}
.gr-border-r{border-right: 1px solid #737373}
.b-r-1{border-right:1px solid #ddd ;}
.b-lr-1{border-right:1px solid #ddd ;}
.b-all-1{border: 1px solid #ddd;}
.col-green{color: #48a300;}
* a:hover {text-decoration: none;}
* p{margin-bottom: 0px;}

.facebook {background: #3B5999 !important; color: #fff !important;}
.linkedin {background: #0274b3 !important; color: #fff !important;} 
.twitter {background: #00b6f1 !important; color: #fff !important;} 
.phone-book {background: #fa8601 !important; color: #fff !important;}
.comments {background: #47A40E !important; color: #fff !important;}
.instagram { background: linear-gradient(180deg,#5162d3 0,#c84f67 49%,#f7cb74) !important; color: #fff !important;}

.font-16{
	font-size: 16px !important;
}
.font-18{
	font-size: 18px !important;
}
.font-20{
    font-size: 20px !important;
}
.w-f-25{
	width: 25px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
.custom-picker-auth {
    color: #000;
    border: 2px solid #3e983e;
    border-radius: 10px;
    background: #fff;
    padding: 6px 10px;
    font-size: 16px;
}

.bootstrap-select.auth-social .dropdown-item.active { background: inherit; color: #fff;}

.bootstrap-select .dropdown-toggle.custom-picker-auth:focus{
    outline: none !important;
    box-shadow: none !important;
}
.dropdown-toggle.custom-picker-auth:after {
    color: #3e983e !important;
}

.pad-tb-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.facebook-auth {background: #fff !important; color: #3b5998 !important; border-bottom: 1px solid #ddd;}
.facebook-auth:hover {background: #3b5998 !important; color: #fff !important;}

.twitter-auth {background: #fff !important; color: #00b6f1 !important; border-bottom: 1px solid #ddd} 
.twitter-auth:hover {background: #00b6f1 !important; color: #fff !important;} 

.google-auth{background: #fff !important; color: #47A40E !important; border-bottom: 1px solid #ddd}
.google-auth:hover {background: #47A40E !important; color: #fff !important;}

.linkedin-auth {background: #fff !important; color: #0274b3 !important; border-bottom: 1px solid #ddd} 
.linkedin-auth:hover {background: #0274b3 !important; color: #fff !important;} 

.email-auth {background: #fff !important; color: #3e983e !important;}
.email-auth:hover {background: #3e983e !important; color: #fff !important;}

.instagram-auth { background: #fff !important; color: #000 !important; border-bottom: 1px solid #ddd}
.instagram-auth:hover { background: linear-gradient(180deg,#5162d3 0,#c84f67 49%,#f7cb74) !important; color: #fff !important;}

.custom-picker {
    color: #000;
    border: 2px solid #3e983e;
    border-radius: 10px;
    background: #fff;
    padding: 8px 10px;
    font-size: 16px;
}
.custom-picker-mobile {
    color: #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
}
.gr-search .bootstrap-select .dropdown-item.active { background: #3e983e; color: #fff;}
.main-menu .bootstrap-select .dropdown-item.active { background: #3e983e; color: #fff;}
.bootstrap-select .dropdown-toggle.custom-picker-mobile:focus{
    outline: none !important;
    box-shadow: none !important;
    color: #fff !important;
    background: transparent !important;
}
.bootstrap-select .dropdown-toggle.custom-picker-mobile:hover{
    outline: none !important;
    box-shadow: none !important;
    color: #fff !important;
    text-decoration: underline;
}
.bootstrap-select .dropdown-toggle.custom-picker:focus{
    outline: none !important;
    box-shadow: none !important;
}
.dropdown-toggle.custom-picker:after {
    color: #3e983e !important;
}
/*custom css end*/

/*navbar css start*/
.main-menu {
	width: 100%;
	background: #fff;
	box-shadow: 0px 8px 13px -8px #b3b2b2;
}

.menu-width-45{ width: 45%;}
.menu-width-10{ width: 10%;}

.main-menu .filter-option-inner-inner{
	color: #000 !important;
}
.main-menu .bootstrap-select > .dropdown-toggle.bs-placeholder {
	background: #fff !important;
	border: 1px solid #ddd;
	padding: 8px 10px;
}
.mobile-login{
    color: #fff !important;
    font-size: 20px !important;
    border: 2px solid #3b923c;
    padding: 5px 15px;
    border-radius: 15px;
}
/*navbar css end*/

/*carousel css start*/
.header{
	position: relative;
}
.gr-logo{
	width: 135px;
}
.gr-logo-sm{
	width: 45px;
}
.menu{
	overflow: hidden;
	min-height: 70px;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0, 0, 0, 0.3);
}
.carousel-caption{
    bottom: 50%;
    transform: translateY(-0%);
    left: 15%;
    right: 15%;
}
.carosel-title{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.gr-search{
	position: absolute;
	z-index: 500;
    top: 50%;
    transform: translateY(-10%);
	left: 17%;
	right: 17%;
}
.gr-search .gr-sb {
	width: 100%;
	padding: 15px 0;
	background: #fff;
	color: #000;
	border-radius: 4px;
	margin-bottom: 15px;
	z-index: 400;
	display: inline-block;
	text-align: center;
    font-size: 16px;
	cursor: pointer;
}
.gr-search .gr-sb:hover{
	background: #3e983e !important;
	color: #fff !important;
}
.gr-search .gr-sb.gr-active{
    background: #3e983e !important;
    color: #fff !important;
}
.gr-text {
	width: 100%;
	border: none;
    padding: 27px 10px;
}
.gr-search .input-group-text {
	padding: 10px 18px;
    font-size: 1.6rem;
    color: #3e983e;
    background-color: #fff;
}
/*carousel css end*/

/*inf-links css start*/
.inf-links{
	padding: 20px 0px;
}
.inf-links .grf-img {
	width: 200px;
	padding-bottom: 15px;
}

.inf-links ul li a {
	color: #000;
	padding: 5px 0px;
	display: block;
	font-size: 17px;
}
.inf-links ul li a:hover{
	color: #3e983e;
}

/*inf-links css end*/

/*social links css start*/

.f16{
	font-size: 26px !important;
}
.box {
	padding: 7px 13px;
	border-radius: 21px;
	margin: 0px 10px;
	color: #3e983e;
}
/*social links css end*/


/*city css start*/
.cities{
	padding: 20px 0px;
}
.cities .gr-city-nav li {
	padding: .4rem 0.3rem;
}
.cities .gr-city-nav li a{
	color: #000;
	font-size: 16px;
}
.cities .gr-city-nav li a:hover{
	color: #3e983e;
}
/*city css end*/

/**/
.gr-city-gallery{
	padding: 20px 0 70px;
    overflow: hidden;
    width: 100%;

}
.city-gallery-heading{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.city-boxes{
    overflow: hidden;
    height: auto;
    width: 100%;
    padding: 0 20px;
}
.city-box{
    position: relative;
    float:left;
	height: 150px;
    width: 20%;
	overflow: hidden;
	transition: .3s;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}
.city-box img{
	width: 100%;
	height: 100%;
}
.content {
	position: absolute;
	left: 5px;
    top: 5px;
	height: 94%;
    width: 96%;
	transition: .3s;
	background: rgba(0, 0, 0, 0.5);
}
/*.content:hover {
	background: rgba(30, 255, 11, 0.6);
	transition: .3s;
	cursor: pointer;
}*/
.same:nth-child(6n+1) .content:hover{
	background: rgba(255, 135, 8, 0.6);
	transition: .3s;
	cursor: pointer;
}
.same:nth-child(6n+2) .content:hover{
	background: rgba(187, 6, 6, 0.6);
	transition: .3s;
	cursor: pointer;
}
.same:nth-child(6n+3) .content:hover{
	background: rgba(12, 187, 6, 0.6);
	transition: .3s;
	cursor: pointer;
}
.same:nth-child(6n+4) .content:hover{
	background: rgba(6, 51, 187, 0.6);
	transition: .3s;
	cursor: pointer;
}
.same:nth-child(6n+5) .content:hover{
	background: rgba(187, 6, 176, 0.6);
	transition: .3s;
	cursor: pointer;
}
.same:nth-child(6n+6) .content:hover{
	background: rgba(249, 255, 69, 0.6);
	transition: .3s;
	cursor: pointer;
}
.content h2 {
	position: absolute;
	font-size: 28px;
	left: 0;
    right: 0;
    top: 50%;
	transform: scale(1) translateY(-50%);
	color: #fff;
	font-weight: 900;
	transition: .3s;
}
.content:hover h2{
	transform: scale(0) translateY(-50%);
	transition: .3s;
}
.content h3{
	position: absolute;
	font-size: 16px;
	left: 2%;
	bottom: 3%;
	transform: scale(0);
	color: #fff;
	font-weight: 700;
    transition: .3s;
    text-align: left;
}
.content:hover h3{
	transform: scale(1);
	transition: .3s;
}
/**/


/**/
.gr-add-lst {
	min-height: 300px;
	position: relative;
	background: linear-gradient(45deg, rgba(21, 20, 20, 0.8), rgba(83, 78, 78, 0.8)), url(../frontend/images/add-listing/add-listing.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.gr-btn {
    position: absolute;
    left: 15%;
    top: 20%;
}
.gr-add-lst .text{
    position: absolute;
    bottom: 20%;
    left: 15%;
}
/**/

/*services start*/
.gr-services{
	padding: 15px 0px;
}
.gr-services .single-box {
	text-align: center;
	padding: 40px 0px;
}
.gr-services .single-box .icon {
	font-size: 30px;
	color: #3e983e;
	margin-bottom: 10px;
}
.gr-services .single-box h2 {
	font-size: 20px;
	font-weight: 700;
	color: #3e983e;
	font-weight: normal;
}
.gr-services .single-box p {
	font-size: 16px;
}
/*services end*/



/*footer css start*/
footer{
	font-size: 16px;
}
footer .copyright-text{
	color: #000;
}
footer .gr-link{
	color: #000;
}
footer .gr-link:hover{
	color: #3e983e;
}

/*footer css end*/


/* media query*/
 /* Extra small devices (phones, 576 and down) xs */
@media only screen and (max-width: 575.98px) {
	.main-menu{
        position: fixed;
        top: 0;
        background: rgba(0, 0, 0, 0.3) !important;
        box-shadow: none;
    }
	.menu-width-10{ 
		width: 10% !important;
	}
	.main-menu ul.nav > li:first-child{
		width: 80% !important;
	}
	.main-menu .font-18{
		font-size: 16px !important;
    }
    .carousel-caption {
        left: 5%;
        right: 5%;
        transform: translateY(-50%);
    }
	.gr-search .gr-sb {
        padding: 8px 0;
        margin-bottom: 13px;
        font-size: 14px;
    }
	.gr-search {
        left: 2%;
        right: 2%;
        transform: translateY(-30%);
    }
    .gr-text {
        padding: 20px 5px;
        font-size: 14px;
    }
    .gr-search .input-group-text {
        padding: 5px 15px;
        font-size: 20px;
    }
    .carosel-title {
        font-size: 18px;
    }

    .gr-services .single-box {
        padding: 15px 10px;
    }
   .gr-city-gallery {
        padding: 10px 0 30px;
    }
    .city-gallery-heading {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .city-boxes{
        padding: 0 3px;
    }
    .city-box{
        height: 80px;
        width: 33.33%;
    }
    .content {
        height: 88%;
        width: 94%;
        background: transparent;
    }
   .content h2 {
        font-size: 18px;
    }
     .content h3{
        font-size: 14px;
    }
    .box {
        margin: 0;
    }
    .inf-links ul li a {
        padding: 0;
    }
    .cities .gr-city-nav li {
        padding: 2px 0;
    }
    .cities .gr-city-nav li a {
        font-size: 14px;
    }
    
    .gr-services {
        padding: 10px 0px;
    }
    .inf-links .grf-img {
        width: 170px;
    }
    .copyright-text{
        font-size: 18px;
        font-weight: 700;
        color: #3e983e !important;
        text-align: center;
    }
    footer{
        border-bottom: 15px solid #3b6913;
        border-radius: 0px 0px 15px 15px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) sm */
@media only screen and (min-width: 576px) and (max-width: 767.98px){

    .main-menu{
        position: fixed;
        top: 0;
        background: rgba(0, 0, 0, 0.3) !important;
        box-shadow: none;
    }

	.menu-width-45{ 
		width:80% !important;
	}
	.menu-width-10{ 
		width: 10% !important;
    }
    .carousel-caption {
        left: 5%;
        right: 5%;
        transform: translateY(-45%);
    }
    .gr-search .gr-sb {
        padding: 10px 0;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .gr-search {
        left: 10%;
        right: 10%;
        transform: translateY(-35%);
    }
    .gr-text {
        padding: 20px 10px;
        font-size: 14px;
    }
    .gr-search .input-group-text {
        padding: 7px 15px;
        font-size: 20px;
    }
    .carosel-title {
        font-size: 25px;
    }
    .gr-services .single-box {
        padding: 15px 10px;
    }
    .gr-city-gallery {
        padding: 10px 0 30px;
    }
    .city-gallery-heading {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .city-boxes{
        padding: 0 5px;
    }
    .city-box{
        height: 110px;
        width: 25%;
    }
    .content {
        height: 91%;
        width: 94%;
        background: transparent;
    }
   .content h2 {
        font-size: 20px;
    }
     .content h3{
        font-size: 16px;
    }
    .cities .gr-city-nav li {
        padding: 3px 0;
    }
    .cities .gr-city-nav li a {
        font-size: 15px;
    }
    .gr-services {
        padding: 20px 0px;
    }
    .inf-links .grf-img {
        width: 200px;
    }
    footer{
        border-bottom: 15px solid #3b6913;
        border-radius: 0px 0px 15px 15px;
    }
} 

/* Medium devices (landscape tablets, 768px and up)  md */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
     .carousel-caption {
        transform: translateY(-45%);
    }
     .gr-search {
       transform: translateY(-35%);
    }
    .carosel-title{
        font-size: 30px;
    }
    .content h2 {
        font-size: 28px;
    }
    .content h3{
        font-size: 20px;
    }
	.main-menu ul.nav > li:first-child{
		width: 40% !important;
	}
	.menu-width-10{ 
		width: 15% !important;
	}

}

/* Large devices (laptops/desktops, 992px and up) lg */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) xl */
@media only screen and (min-width: 1200px) {

} 


