@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:300,400,700,900&display=swap');
html, body {
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	font-size: 14px;
	background: #ECECEC ;
}

.facebook {background: #3B5999 !important; color: #fff !important;}
.linkedin {background: #0274b3 !important; color: #fff !important;} 
.twitter {background: #00b6f1 !important; color: #fff !important;} 
.phone-book {background: #fa8601 !important; color: #fff !important;}
.comments {background: #47A40E !important; color: #fff !important;}
.instagram { background: linear-gradient(180deg,#5162d3 0,#c84f67 49%,#f7cb74) !important; color: #fff !important;}
.noresize {
	resize: none;
	border-radius: 15px !important;
}
.active{
	border: 1px solid #3e983e !important;
	color: #fff !important;
	background: #3e983e !important;
}
/* img{
	width: 100%;
} */

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #368810 !important;
    background-color: #368810 !important;
}

/*reset css*/
.pre-line{
    white-space: pre-line !important;
}
.form-control:focus{
	box-shadow: none !important;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
h1, h2, h3, h4, h5, h6, p, a{
	margin: 0;
	padding: 0;
}
a:hover{
	text-decoration: none;
}
/*reset css*/

/*helper css start*/
.bg-main-light{
	background: #ECECEC !important;
}
.color-main-bg{
	background: #3e983e !important;
}
a.color-main-bg:hover{
	background: #3e983e !important;
}
.color-main-text{
	color: #3e983e !important;
}
.pad-tb-20{
	padding: 20px 0 !important;
}
.pad-tb-30{
	padding: 30px 0 !important;
}
.pad-tb-40{
	padding: 40px 0 !important;
}
.pad-tb-50{
	padding: 50px 0 !important;
}
.font-12{
	font-size: 12px !important;
}
.font-14{
	font-size: 14px !important;
}
.font-13{
	font-size: 13px !important;
}
.font-16{
	font-size: 16px !important;
}
.font-18{
	font-size: 18px !important;
}
.font-20{
	font-size: 20px !important;
}
.font-22{
	font-size: 22px !important;
}
.font-25{
	font-size: 25px !important;
}
.font-30{
	font-size: 30px !important;
}
.font-40{
    font-size: 40px !important;
}
.font-25{
	font-size: 25px !important;
}
.mar-bot-20{
	margin-bottom: 20px !important;
}
.radius-10{
	border-radius: 10px !important;
}
.main-color-border{
	border: 1px solid #3e983e !important;
}
.box-shadow{
	box-shadow: 0px 0px 3px -1px #595959 !important;
}
.w-f-25 {
	width: 25px;
	margin-top: 6px;
}
.b-r-1{border-right:1px solid #ddd ;}

.position-relative{
    position: relative;
}
/*helper css end*/

/* custom element */
.custom-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.custom-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.custom-switch .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: -2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.custom-switch input:checked + .slider {
  background-color: #3e983e;
}

.custom-switch input:focus + .slider {
  box-shadow: 0 0 1px #3e983e;
}

.custom-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.custom-switch .slider.round {
  border-radius: 34px;
}

.custom-switch .slider.round:before {
  border-radius: 50%;
}

.custom-picker-auth {
    color: #000;
    border: 2px solid #3e983e !important;
    border-radius: 10px;
    background: #fff;
    padding: 6px 10px;
    font-size: 16px;
}

.bootstrap-select.auth-social li.active { 
    border: none !important;
}
.bootstrap-select.auth-social .dropdown-item.active { 
    background: inherit; 
    color: #fff;
    border: none !important;
}

.bootstrap-select .dropdown-toggle.custom-picker-auth:focus{
    outline: none !important;
    box-shadow: none !important;
}
.dropdown-toggle.custom-picker-auth:after {
    color: #3e983e !important;
}

.pad-tb-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.facebook-auth {background: #fff !important; color: #3b5998 !important; border-bottom: 1px solid #ddd;}
.facebook-auth:hover {background: #3b5998 !important; color: #fff !important;}

.twitter-auth {background: #fff !important; color: #00b6f1 !important; border-bottom: 1px solid #ddd} 
.twitter-auth:hover {background: #00b6f1 !important; color: #fff !important;} 

.google-auth{background: #fff !important; color: #47A40E !important; border-bottom: 1px solid #ddd}
.google-auth:hover {background: #47A40E !important; color: #fff !important;}

.linkedin-auth {background: #fff !important; color: #0274b3 !important; border-bottom: 1px solid #ddd} 
.linkedin-auth:hover {background: #0274b3 !important; color: #fff !important;} 

.email-auth {background: #fff !important; color: #3e983e !important;}
.email-auth:hover {background: #3e983e !important; color: #fff !important;}

.instagram-auth { background: #fff !important; color: #000 !important; border-bottom: 1px solid #ddd}
.instagram-auth:hover { background: linear-gradient(180deg,#5162d3 0,#c84f67 49%,#f7cb74) !important; color: #fff !important;}


.custom-picker {
    color: #000;
    border: 2px solid #3e983e;
    border-radius: 10px;
    background: #fff;
    padding: 6px 10px;
    font-size: 16px;
}
.dropdown-toggle.custom-picker:focus{
    outline: none !important;
    box-shadow: none !important;
}
.dropdown-toggle.custom-picker:after {
    color: #3e983e !important;
}
.custom-picker-drawer {
    color: #000;
    border: 2px solid #3e983e;
    border-radius: 10px;
    background: #fff;
    padding: 4px 10px;
    font-size: 14px;
}
.dropdown-toggle.custom-picker-drawer:focus{
    outline: none !important;
    box-shadow: none !important;
}
.dropdown-toggle.custom-picker-drawer:after {
    color: #3e983e !important;
}

/* mobile drawer */

.drawer-nav {
    z-index: 323332;
}

.drawer-nav .drawer-content{
    position: relative;
    height: 100%;
    width: 100%;
}
.drawer-nav .user-profile{
    height: 120px;
    width: 100%;
    padding: 30px 10px 10px;
    background:  linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url('/frontend/images/add-listing/add-listing.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.drawer-nav .user-profile .avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.drawer-nav .user-profile .avatar img{
    height: 100%;
    width: 100%;
}
.drawer-nav .bottom-btn{
    position: absolute;
    bottom: 10px;
    left: 7px;
}

/* custom element */

/*carousel css start*/

.menu {
	min-height: 71px;
	border-bottom: 1px solid #ddd;
}
.gr-logo-sm{
	width: 35px;
}
.main-menu {
	background: #fff;
	border-bottom: 1px solid #eee;
}
.main-menu .main-search {
	width: 50% !important;
}
.main-menu .user {
	border: 1px solid #c4c4c4;
	border-radius: 20px;
	width: 40px;
	height: 40px;
    display: inline-block;
    overflow: hidden;
}
.main-menu .user img {
	width: 100%;
	height: 100%;
}
.menu-width-45{ width: 45%;}
.menu-width-10{ width: 10%;}

.main-menu .filter-option-inner-inner{
	color: #000 !important;
}
.main-menu .bootstrap-select > .dropdown-toggle.bs-placeholder {
	background: #fff !important;
	border: 1px solid #ddd;
	padding: 8px 10px;
}
.dropdown-menu.account{
    top: 15px !important;

}
.dropdown-menu.account .list-group-item {
    padding: 0 !important;
}
.dropdown-menu.account .list-group-item > a{
    display: block !important;
    padding: 0.75rem 1.25rem !important;
    transition: .5s all;
}
.dropdown-menu.account li.list-group-item:hover a{
   background: #3e983e !important;
   color: #fff !important;
   transition: .5s all;
}
.dropdown-menu.account li.list-group-item:hover span{
   color: #fff !important;
   transition: .5s all;
}

.message-badge{
    position: absolute;
    top: 5px;
    right: 10px;
}

.search-box > input.nav-search{
    height: 100%;
    padding: 5px 10px;
}

.search-box .clearsearch{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
    cursor: pointer;
}

/*gr-lokingn*/
.gr-content{
	min-height: 60vh;
}
.gr-lokingn {
	overflow: hidden;
	padding: 15px 0px;
}
.gr-lokingn a {
	text-decoration: none;
	color: #3e983e;
	background: #fff;
	margin: 0px 5px;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #3e983e;
}
.gr-lokingn .active{
	border: 1px solid #3e983e;
	color: #fff;
	background: #3e983e;
}
.gr-lokingn a:hover{
	border: 1px solid #3e983e;
	color: #fff;
	background: #3e983e;
}

/**/

/**/
.sort-select {
	border: 1px solid #3e983e !important;
	border-radius: 5px;
	outline: none;
}
.sort-select > button  {
	background: #fff !important;
}
.sort-select > .dropdown-toggle:focus{
	outline: none !important;
}
.filter-area .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
	color: #000 !important;
}
.filter-area .dropdown-item.active, .dropdown-item:active{
	background: #3e983e !important;
}
.filter-area .bootstrap-select > .dropdown-menu{
	border: 1px solid #3e983e !important;
}
/**/

/* listing-area-style start */
.list-view .listing-single, .grid-view .listing-single  {
	background: #fff;
	box-sizing: border-box;
	/*box-shadow: 1px 1px 9px -3px #646363;*/
	overflow: hidden;
	margin-bottom: 30px;
}
.list-view .listing-single .listing-img {
	position: relative;
	overflow: hidden;
}
.list-view .listing-single .listing-img .img-text {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 500;
}
.list-view .listing-single .listing-img img {
	height: 220px;
	width: 100%;
	transition: 1s;
}
.list-view .listing-single .listing-img:hover img {
	transform: scale(1.5);
	transition: 1s;
}
.list-view .listing-single .listing-content {
	margin: 10px 15px 0 15px;
	border-right: 1px solid #c1c1c1;
}
.list-view .listing-single .listing-content .listing-user img {
	width: 55px;
	height: 55px;
}
.list-view .listing-single .listing-contact .icon {
	padding: 4px 8px;
	width: 28px;
	height: 28px;
    border-radius: 5px;
    line-height: 20px;
}
/*Grid view start*/

.grid-view .listing-single .listing-img {
	position: relative;
}
.grid-view .listing-single img {
	width: 100%;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 300px;
}
.grid-view .listing-single .listing-img .content:after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: rgba(172, 25, 25, 0.3);
}
.grid-view .img-text-top {
	position: absolute;
	left: 0;
	top: 0;
}
.grid-view .img-text-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
}
.grid-view .listing-single .listing-user img {
	width: 100px;
	height:100px;
	background: #fff;
	position: absolute;
	right: 30px;
	bottom: -15px;
	border: 2px solid #fff;
	box-sizing: border-box;
	box-shadow: 0px 0px 11px -3px #ecaeae;
}
.grid-view .listing-single .listing-user-text {
	position: absolute;
	right: 20px;
    bottom: 75px;
    font-size: 17px;
}
.grid-view .listing-single .listing-contact .icon {
	padding: 8px;
	width: 35px;
	height: 35px;
	border-radius: 5px;
}
/*Grid view end*/

/*listing-area-style end*/


/*single-user-listing start*/
.single-user-listing .amenities .amenity{
    float: left;
    padding: 7px 0px;
    width: 20%;
}
.single-user-listing .amenities .amenity .image{
    height: 25px;
    width: 25px;
    display: inline-block;
}
.single-user-listing .amenities .amenity .name{
    height: 35px;
    line-height: 1;
    word-break: break-word;
    font-size: 15px;
    overflow: hidden;
}
.single-user-listing .user-profile .single-user-img{
	position: relative;
	width: 200px;
	margin: 0 auto;
}
.single-user-listing .user-profile .single-user-img .profile-pic {
	
	border-radius: 50%;
}
.single-user-info .profile-name{
    position: relative;
}
.single-user-listing .user-profile .profile-name .profile-check {
	border-radius: 70px;
	width: 25px;
	height: 25px;
	font-size: 14px;
	line-height: 20px;
    padding: 4px;
    margin-left: 5px;
}
.listing-user-social-verify-block .rounded {
	border-radius: 50px !important;
	padding: 4px;
	font-size: 12px;
	line-height: 10px;
	margin-right: 5px;
}

.listing-image-gellery{
    position: relative;
}
.listing-image-gellery .intro-left{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 999;
}
.listing-image-gellery .intro-right{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
}
.listing-image-gellery .pricing{
    position: absolute;
    left: 10px;
    bottom: 70px;
    z-index: 999;
}
/*single-user-listing end*/


/*footer*/
.other-footer {
	text-align: center;
	color: #ddd;
	padding: 40px 0px;
	background: #fff;
}
.other-footer a {
	font-size: 14px;
	color: #ddd;
	padding: 6px 9px;
	display: inline-block;
}

/*swiper slider */
.swiper-container {
	width: 100%;
	height: 300px;
}
.swiper-slide img {
	width: 100%;
	height:100%;
}
.swiper-button-next, .swiper-button-prev{
	color: #3e983e;
}
/**/

/*Add listing style start*/
.form-basic-info .form-title {
	font-size: 20px;
	margin: 25px 0;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 10px;
	font-weight: 900;
	color: #777;
}
.form-basic-info .custom-control{
	margin-bottom: 5px;
}
/*Add listing style end*/

/*new-listing style  start*/
.new-listing .button {
	width: 25%;
	background: #fff;
	padding: 10px;
	border-radius: 15px;
    margin: 0px !important;
    cursor: pointer;
}


.new-listing-area .card {
	padding: 100px 0 75px;
	margin-bottom: 40px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid silver;

}
.new-listing .left {
	border-radius: 15px 0 0 15px;
	margin-right: -2px !important;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
.new-listing .right {
	border-radius: 0px 15px 15px 0;
	margin-left: -2px !important;
	border-right: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
/*new-listing style end*/


/*choose-package style start*/
.choose-package .g-card {
	background: #fff;
	border-radius: 15px;
	border: 2px solid silver;
	cursor: pointer;
	transition: .5s;
}
.choose-package .g-card:hover{
	border: 2px solid #3e983e;
	transition: .5s;
}
.choose-package .g-card h2 {
	font-weight: 900;
	font-size: 70px;
	margin-top: 15px;
}
.choose-package .package-price {
    word-spacing: -4px;
}
.choose-package .package-price span {
    font-size: 14px !important;
    font-weight: 700 !important;
    vertical-align: .33vw;
}
/*choose-package style end*/

/*payment style start*/
.box-privacy .text-area {
	width: 100%;
	resize: none;
	height: 250px;
	overflow-y: scroll;
	border: 1px solid silver;
	border-radius: 20px;
	background: transparent;
	margin: 15px 0px;
	padding: 10px 20px;
}
/*payment style end*/

/* setting syle start */
.setting .setting-header{
    color: #272829;
    font-size: 40px;
    font-weight: 500;
}
.setting p{
    height: auto;
    width: 100%;
    overflow: hidden;
}
.setting p, .setting a{
    font-size: 16px;
}
.setting a:hover{
    text-decoration: underline;
}
.setting a.btn:hover{
    text-decoration: none;
}
/* setting syle end */


/* support style start */

.support .quick-links a.link{
   display: block;
    border: 2px solid #3e983e;
    padding: 5px 10px;
    color: #000;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    overflow: hidden;
    transition: .5s;
}
.support .quick-links a.link > i{
    float: right;
    margin-top: 1px;
}
.support .quick-links a.link:hover{
    color: #3e983e;
    text-decoration: underline;
    transition: .5s;
}
.support .message .info img{
    height: 64px;
    width: 64px;
    border-radius: 50%;
}
.support .support-form textarea {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    border: 2px solid #3e983e;
    resize: none;
    font-size: 16px;
}

/* support style start */

/* media query*/
 /* Extra small devices (phones, 576 and down) xs */
@media only screen and (max-width: 575.98px) {
	.menu-width-45{ 
		width:50% !important;
	}
	.menu-width-10{ 
		width: 30% !important;
	}
	.main-menu ul.nav > li:first-child{
		width: 20% !important;
	}
	.main-menu .font-18{
		font-size: 16px !important;
	}
	.gr-search {
		transform: translateY(-50%) !important;
	}
	.other-footer.profile{
		margin-bottom: 150px !important;
	}
	.choose-package .heading {
        font-size: 30px;
        padding: 0 !important;
        margin-bottom: 15px !important;
    }
    .choose-package .g-card{
        padding: 0 !important;
        margin-bottom: 10px !important;
        overflow: hidden;
    }
    .choose-package .package-info{
        float: left;
        padding: 5px 25px;
    }
    .choose-package .g-card p{
        font-size: 13px !important;
        line-height: 1.2;
	}
    .choose-package p.package-price{
        float: right;
        margin: 28px 25px 0 0;
        font-size: 18px !important;
    }
    .choose-package .package-price span {
        font-size: 13px !important;
        font-weight: 700 !important;
        vertical-align: .55vw;
    }
    .choose-package .g-card hr{
        display: none;
    }
	.choose-package .g-card h2 {
		font-size: 22px;
        font-weight: 700;
        margin: 0;
	}
	
	.choose-package .content p {
		font-size: 16px !important;
    }
    
    .new-listing-area .new-listing h2{
        font-size: 18px !important;
    }
    .new-listing-area h4{
        font-size: 16px;
    }

    .new-listing .button {
        width: 40%;
        padding: 5px 10px;
    }

    .new-listing-area .card {
        padding: 40px 0 40px;
        margin-bottom: 0;
        font-size: 15px !important;
    }

    .single-user-listing div.bg-success{
        padding: 15px 0 !important;
    }

    .gr-lokingn a {
        margin: 0 2px;
        padding: 8px 8px;
        font-size: 14px;
    }

    .gallery.budget p{
        font-size: 16px !important;
    }

    .grid-view .listing-single img {
        height: 250px;
    }

    .grid-view .listing-single .listing-user img {
        width: 60px;
        height: 60px;
        right: 15px;
        bottom: -15px;
    }

    .grid-view .listing-single .listing-user-text {
        right: 5px;
        bottom: 34px;
        font-size: 13px;
    }

    .grid-view .pricing .price{
        font-size: 25px !important;
    }
    .grid-view .dollar{
        font-size: 13px !important;
        vertical-align: 1.88vw !important;
    }
    .not-found .card-body{
        padding: 1rem !important;
    }
    .not-found .heading.font-20{
        font-size: 16px !important;
    }
    .not-found h4{
        font-size: 14px !important;
    }
    .setting p {
        font-size: 15px;
    }

    .custom-switch {
        width: 45px;
        height: 25px;
    }

    .custom-switch .slider:before {
        height: 20px;
        width: 20px;
        left: -4px;
        bottom: 3px;
    }

    .payment .select-plan{
        min-height: 105px !important;
        padding-top: 10px !important;
    }
    .payment .select-plan h2{
       font-size: 30px !important;
    }
    .payment .select-plan p{
       margin: 10px 0 !important;
       word-spacing: -5px;
    }
    .payment .select-plan p span:first-child, .payment .select-plan p span:last-child{
       font-size: 16px !important;
    }
    .payment .select-plan p span{
       font-size: 23px !important;
    }
    .single-user-listing .amenities .amenity{
        width: 25%;
        padding: 10px 0;
    }
    .single-user-listing .amenities .amenity .image{
        height: 20px;
        width: 20px;
    }
    .single-user-listing .amenities .amenity .name{
        font-size: 14px;
        height: 35px;
        line-height: 1;
    }
}

@media only screen and (max-width: 410px){
    .gr-lokingn a {
        margin: 0 1px;
        padding: 7px 2px;
        font-size: 13px;
    }
    .single-user-listing .amenities .amenity{
        width: 33.33%;
        padding: 10px 0;
        word-break: break-word;
    }
    .single-user-listing .amenities .amenity .name{
        font-size: 14px;
        height: 35px;
        line-height: 1;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) sm */
@media only screen and (min-width: 576px) and (max-width: 767.98px){

	.menu-width-45{ 
		width: 35% !important;
	}
	.menu-width-10{ 
		width: 30% !important;
	}

	.gr-search {
		transform: translateY(-50%) !important;
	}
	.other-footer.profile{
		margin-bottom: 150px !important;
	}
	.choose-package .heading {
        font-size: 30px;
        padding: 0 !important;
        margin-bottom: 15px !important;
    }
    .choose-package .g-card{
        padding: 0 !important;
        margin-bottom: 10px !important;
        overflow: hidden;
    }
    .choose-package .package-info{
        float: left;
        padding: 5px 25px;
    }
    .choose-package .g-card p{
        font-size: 13px !important;
        line-height: 1.2;
	}
    .choose-package p.package-price{
        float: right;
        margin: 28px 25px 0 0;
        font-size: 18px !important;
    }
    .choose-package .package-price span {
        font-size: 13px !important;
        font-weight: 700 !important;
        vertical-align: .55vw;
    }
    .choose-package .g-card hr{
        display: none;
    }
	.choose-package .g-card h2 {
		font-size: 22px;
        font-weight: 700;
        margin: 0;
	}
	.choose-package .content p {
		font-size: 16px !important;
    }
     
    .new-listing-area .new-listing h2{
        font-size: 25px !important;
    }

    .new-listing-area h4{
        font-size: 18px;
    }

    .new-listing-area .card {
        padding: 80px 0 50px;
        margin-bottom: 0;
    }

    .new-listing .button {
        width: 40%;
        padding: 7px 10px;
    }

    .single-user-listing div.bg-success{
        padding: 15px 0 !important;
    }
    .not-found .card-body{
        padding: 2rem !important;
    }
    .not-found .heading.font-20{
        font-size: 18px !important;
    }
    .not-found h4{
        font-size: 15px !important;
    }
    .payment .select-plan{
        min-height: 105px !important;
        padding-top: 10px !important;
    }
    .payment .select-plan h2{
       font-size: 30px !important;
    }
    .payment .select-plan p{
       margin: 10px 0 !important;
       word-spacing: -5px;
    }
    .payment .select-plan p span:first-child, .payment .select-plan p span:last-child{
       font-size: 16px !important;
    }
    .payment .select-plan p span{
       font-size: 23px !important;
    }
} 

/* Medium devices (landscape tablets, 768px and up)  md */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
	.main-menu ul.nav > li:first-child{
			width: 40% !important;
		}
		.menu-width-10{ 
		width: 15% !important;
	}

}

/* Large devices (laptops/desktops, 992px and up) lg */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
	.w-md-60{
		width: 60% !important;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) xl */
@media only screen and (min-width: 1200px) {
	.w-md-60{
		width: 60% !important;
	}
} 

